.project-section-bg-img {
  position: absolute;
  display: none;
  z-index: -1;
  filter: drop-shadow(1px 1px 10px black);
}

.cards-main-container {
  position: relative;
  background-color: var(--color-black);
  z-index: 0;
  padding-top: 50px;
}

.projects-heading {
  color: var(--color-main);
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin: 25px;
  font-family: var(--main-font-family);
  position: relative;
  filter: drop-shadow(2px 3px 2px black);
}
.projects-heading::after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: var(--color-white);
  opacity: 0.5;
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
.cards {
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  transition: 0s;
  width: 100%;
  overflow-x: hidden;
  max-width: 850px;
  margin: auto;
  padding: 20px;
}
.cards > div {
  filter: drop-shadow(1px 1px 5px black);
  opacity: 0.9;
}

.card {
  width: 100%;
  height: 325px;
  margin-bottom: 50px;
}
.card img {
  max-height: 160px;
  top: 0;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  opacity: 0.9;
}
.card-content {
  background-color: var(--color-white);
  position: relative;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
}
.card .card-content div {
  text-align: center;
}
.card .card-content .go-to-project-page {
  text-align: center;
  margin-top: 10px;
}

.card .card-content a {
  text-decoration: none;
  color: var(--color-secondary);
  text-align: center;
  transition: 300ms;
  padding: 3px;
}
.card .card-content a:hover {
  background-color: var(--color-secondary);
  transition: 300ms;
  color: var(--color-black);
}
.card h1 {
  font-size: 1.25rem;
  text-align: center;
  transition: 300ms;
  margin: 0;
  margin-top: 165px;
  padding: 0;
}
.card h1:hover {
  color: var(--color-secondary);
  transition: 300ms;
}
.card p {
  padding-left: 15px;
  padding-right: 15px;
  max-height: 55px;
  overflow: hidden;
  color: var(--color-black);
  font-family: var(--main-font-family);
}

.card-technologies-used {
}
.card-technologies-used i {
  margin: 10px;
  color: var(--color-light-dark);
}

@media (min-width: 600px) {
  .project-section-bg-img {
    display: block;
    height: 100%;
  }
  .projects-heading {
    font-size: 4rem;
  }
  .projects-heading::after {
    width: 30%;
  }
  .card {
    max-width: 400px;
    margin: 0;
    border: solid 1px var(--color-light-dark);
  }
  .card-content {
    margin: 0;
    border-radius: 0;
  }
  .card img {
    margin: 0;
    border-radius: 0;
  }
  .cards {
    padding-bottom: 50px;
  }
}

@media (min-width: 1600px) {
  .project-section-bg-img {
    height: 150%;
    transform: translate(-40vw, -40vh);
  }
}
