/* COLORS */
:root {
  --color-black: rgb(241, 241, 241);
  /* --color-white: #1e152a; */
  --color-white: #0b0c10;
  --color-main: #66fcf1;
  --color-secondary: #45a29e;
  --color-light-dark: #c5c6c7;
  --color-dark: #1f2833;
  /* --color-text-color: rgb(245, 245, 245); */
  --color-text-color: #c5c6c7;
  --main-font-family: Verdana, sans-serif;
  --secondary-font-family: Verdana, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font-family);
  color: var(--color-text-color);
}

body {
  background-color: var(--color-white);
}
ul {
  list-style: none;
}

.outer-main-div {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-tag {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
