.web-dev-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--color-black);
  color: var(--color-white);
  position: relative;
  overflow: hidden;
}
.web-dev-page-content img {
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  width: 100%;
  filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.3));
  overflow: hidden;
}

.page-header {
  position: relative;
  background-color: #121212;
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
  padding-right: 30px;
  position: relative;
  color: var(--color-black);
  flex-wrap: wrap;
  background-color: var(--color-white);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
.page-header img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 125%;
  transform: translate(5vw, 5vh);
  z-index: 0;
  background-attachment: fixed;
  filter: drop-shadow(1px 1px 15px black);
  z-index: 0;
  opacity: 0.9;
  overflow-x: hidden;
}

.page-content-header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.page-content-header h3 {
  max-width: 1200px;
  display: block;
  margin: auto;
  color: var(--color-main);
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

.two-options-buttons-links {
  display: flex;
  z-index: 1;
}
.two-options-buttons-links button {
  padding: 10px;
  font-size: 1rem;
  color: var(--color-black);
  margin: 20px 0;
}
.two-options-buttons-links .btn-basic {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: 600ms;
}
.two-options-buttons-links .btn-basic:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
  transition: 300ms;
}
.two-options-buttons-links .btn-ecom {
  color: var(--color-black);
  background-color: #999;
  transition: 600ms;
}
.two-options-buttons-links .btn-ecom:hover {
  color: var(--color-black);
  background-color: var(--color-secondary);
  transition: 300ms;
}
.two-options-buttons-links button a {
  text-decoration: none;
  color: inherit;
  transition: 300ms;
  transition: 600ms;
}

/* ####COLLUMNS ##### */
.three-options-web-dev-image {
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.three-options-web-dev-image > div {
  z-index: 100;
  background-color: rgba(245, 245, 245, 0.9);
}
.three-options-web-dev-image > div > header > p {
  color: var(--color-black);
  margin-bottom: auto;
}

.three-options-web-dev-image div hr {
  width: 150px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  height: 2px;
  background-color: rgba(245, 245, 245, 0.3);
}
.three-options-web-dev-image div header {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.three-options-web-dev-image > div > header > div {
  text-align: center;
  font-size: 1.5rem;
}

.three-options-web-dev-image div header .price h2 {
  width: 100%;
  font-size: 2rem;
  font-family: var(--main-font-family);
  color: var(--color-black);
}

.three-options-web-dev-image div p {
  color: var(--color-white);
  font-size: 1rem;
  padding: 0 30px;
  font-family: var(--main-font-family);
}
.three-options-web-dev-image button {
  cursor: pointer;
}
.pre-plan {
  color: var(--color-light-dark) !important;
  font-size: 1.25rem;
}
.red {
  margin-bottom: 50px;
  padding-bottom: 50px;
  box-shadow: black 2px 1px 15px;
  border: solid black 1px;
}

.green {
  margin-bottom: 50px;
  padding-bottom: 50px;
  box-shadow: black 2px 1px 15px;
  border: solid black 1px;
}
.purple {
  margin-bottom: 50px;
  padding-bottom: 50px;
  box-shadow: black 2px 1px 15px;
  border: solid black 1px;
}
.red header {
  background-color: var(--color-white);

  color: white;
}
.red header h3 {
  filter: drop-shadow(1px 1px 2px black);
}
.red button {
  background-color: var(--color-white);
  color: white;
}

.purple header {
  background-color: #802767;
  color: white;
}

.purple button {
  background-color: #802767;
  color: white;
}
.green header {
  background-color: #49c19e;
  color: white;
}

.green button {
  background-color: #49c19e;
  color: white;
}
.price {
  filter: drop-shadow(1px 1px 2px black);
}

.included-services {
  text-align: center;
  position: relative;
}
.included-services p {
  margin: 12px;
}
.included-services button {
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  box-shadow: black 1px 1px 5px;
  font-size: 125%;
  transition: 600ms ease;
}
.included-services:focus {
  outline: none;
  border: none;
}
.included-services button:hover {
  transform: scale(1.1);
  transition: 300ms ease;
}

/* ####CALL NOW CONTAINER ##### */
.call-now-container {
  background-color: rgba(234, 234, 244, 0.6);
  width: 70vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  z-index: 1;
}
.call-now-container h2 {
  color: var(--color-secondary);
  text-align: center;
}

.page-navigation-wrapper {
  background-color: rgba(0, 89, 150, 0.6);
  z-index: 1001;
  position: fixed;
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
}

@media (min-width: 600px) {
  .page-header img {
    width: 100%;
    transform: translate(1vw, 5vh);
    opacity: 0.3;
  }
  .three-options-web-dev-image div {
    min-width: 500px;
  }
  .page-navigation ul {
    display: flex;
    justify-content: center;
  }

  .small-page-navigation {
    font-size: 1.25rem;
  }

  .page-content-header h3 {
    font-size: 4rem;
    min-width: 600px;
  }

  .three-options-web-dev-image div header {
    font-size: 1.5rem;
    height: 450px;
  }
  .three-options-web-dev-image div {
    max-width: 400px;
  }
  .red {
    margin: 50px;
  }
  .green {
    margin: 50px;
  }
  .purple {
    margin: 50px;
  }
  .included-services {
    font-size: 1.25rem;
  }
  .included-services p {
    margin: 30px;
  }

  .call-now-container {
    font-size: 125%;
  }
}
@media (min-width: 1600px) {
  .page-header img {
    width: 40%;
    transform: translate(1vw, 2vh);
    opacity: 1;
  }
  .three-options-web-dev-image div p {
    font-size: 1.75rem;
  }
  .two-options-buttons-links button {
    font-size: 1.5rem;
  }
  .three-options-web-dev-image div header .price h2 {
    font-size: 2.5rem;
  }
}
