.page-navigation-wrapper {
  background-color: rgba(0, 89, 150, 0.6);
  z-index: 1001;
  position: fixed;
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
}
#landing-page-menu-button {
  font-size: 300%;
  text-align: center;
  cursor: pointer;
  z-index: 600;
  filter: drop-shadow(3px 3px 2px black);
  height: 60px;
  transition: 600ms ease;
  color: rgba(237, 231, 227, 0.8);
  background-color: transparent;
  border: none;
  outline: none;
  position: fixed;
  right: 10px;
  top: 10px;
}

.hamburger-icon {
  position: fixed;
  top: 15px;
  right: 15px;
}
.page-navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;

  background: linear-gradient(
    rgba(18, 18, 18, 0.7) 0%,
    rgba(0, 89, 150, 0.9) 50%,
    rgba(18, 18, 18, 0.7) 100%
  );
  z-index: 1000;
  transition: 600ms ease;
}
.page-navigation span {
  position: fixed;
  top: 30px;
  right: 30px;
  color: rgba(237, 231, 227, 0.9);
  font-size: 200%;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 5px;
}
.page-navigation ul {
  list-style: none;
  margin-top: 75px;
}
.page-navigation ul li {
  text-align: center;
  border-bottom: solid rgba(237, 231, 227, 0.3) 1px;
  margin: 25px;
}
.page-navigation ul li a {
  text-decoration: none;
  color: rgba(237, 231, 227, 0.95);
  text-shadow: black 1px 1px 15px;
  font-size: 150%;
  transition: 300ms ease;
}
.page-navigation ul li a:hover {
  text-decoration: none;
  color: rgba(237, 231, 227, 1);

  font-size: 150%;
  transition: 300ms ease;
}

.page-header {
  position: relative;
  background-color: #121212;
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
  padding-right: 30px;
  position: relative;
  color: #ede7e3;
  flex-wrap: wrap;
  background-color: #121212;
  background-image: url("./Landing-Page/5-stones-hp.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.page-header img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-attachment: fixed;
}
.page-header h1 {
  width: 100%;
  text-align: end;
  z-index: 10;
  margin: 20px;
}

.small-h6-page-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 200px;
  margin-right: 20px;
  z-index: 10;
}

.small-h6-page-navigation p {
  color: rgba(237, 231, 227, 0.8);
}
.small-h6-page-navigation i {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 80%;
  color: rgba(237, 231, 227, 0.6);
}
.small-h6-page-navigation a {
  margin: 3px;
  text-decoration: none;
  color: rgba(237, 231, 227, 0.8);
}

.page-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;

  justify-content: center;
}
.page-content-header {
  text-align: right;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}
.page-content-header h3 {
  max-width: 500px;
  display: block;
  margin: auto;
}
.page-content-header p {
  max-width: 1100px;
  display: block;
  margin: auto;
}
.page-content-left-col {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
}
.page-content-left-col img {
  max-width: 300px;
  display: block;
  margin: auto;
}
.page-content-right-col {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  text-align: right;
}
.page-form {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.page-form-header {
  max-width: 700px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.leave-contact-form-inputs {
  width: 100%;
  background-color: rgba(0, 83, 150, 1);
  color: #ede7e3;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1400px;
  margin: auto;
}

.leave-contact-form-inputs h2 {
  width: 100%;
}
.leave-contact-form-inputs h6 {
  width: 100%;
  font-size: 100%;
  text-align: center;
}
.leave-contact-form-inputs input {
  width: 30%;
  margin: 1px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
}
.leave-contact-form-inputs button {
  width: 10%;
  padding: 5px;
  background-color: #e2443f;
  color: rgb(237, 231, 227);
  font-size: 125%;
  min-width: 100px;
  border-radius: 5px;
}
.might-also-interest-you-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  max-width: 1400px;
  margin-bottom: 30px;
}
.might-also-interest-you-grid p {
  width: 100%;
  font-size: 100%;
  text-align: right;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.9);
}
.info-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 10px;
  border-radius: 25px;
}
.info-card a {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 125%;
}
.info-card p {
  text-align: center;
  margin-bottom: 30px;
}
.info-card img {
  max-width: 200px;
  max-height: 200px;
}

.web-marketing-info-card {
  padding: 30px;
  border: solid 1px;
  max-width: 700px;

  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.web-marketing-info-card p {
}
@media (min-width: 600px) {
  .page-navigation ul {
    display: flex;
    justify-content: center;
  }
  .page-header {
    padding: 50px;
  }
  .small-h6-page-navigation {
    font-size: 150%;
  }
  .page-header h1 {
    font-size: 500%;
  }
  .page-content-header h3 {
    font-size: 200%;
    min-width: 800px;
  }
  .page-content-header p {
    font-size: 125%;
  }
  .page-content p {
    font-size: 125%;
  }
  /* .page-content p {
    font-size: 175%;
  } */

  .might-also-interest-you-grid {
    margin-bottom: 50px;
  }
  .might-also-interest-you-grid p {
    font-size: 125%;
  }
  .info-card {
  }
  .info-card a {
    font-size: 150%;
  }
  .info-card p {
  }
}
