.additional-page-container {
  width: 100%;
  overflow: hidden !important;
  position: relative;
}
.additional-page-container header img {
  width: 100%;
  filter: drop-shadow(1px 1px 10px black);
  z-index: -1;
}
.additional-page-container header h1 {
  margin-top: 1rem;
  color: var(--color-secondary);
  text-align: center;
  filter: drop-shadow(1px 1px 10px black);
}
.additional-page-container section {
  padding: 20px;
}
.additional-page-container section h4 {
  color: var(--color-black);
  text-align: left;
  padding: 0px 20px;
  filter: drop-shadow(1px 1px 10px black);
}
.additional-page-container section p {
  color: var(--color-black);
  text-align: left;
  padding: 10px 20px;
}
.additional-page-container section h3 {
  color: var(--color-secondary);
  text-align: center;
  filter: drop-shadow(1px 1px 10px black);
  margin-top: 20px;
}
.additional-page-container section form {
  width: 100%;
  padding: 20px;
}

.additional-page-container section form textarea {
  width: 100%;
  color: black;
  /* padding: 1rem; */
}
.additional-page-container section form button {
  width: 100%;
  font-weight: 900;
  color: var(--color-main);
  border: solid 1px var(--color-main);
  background-color: transparent;
  transition: 600ms;
  cursor: pointer;
  padding: 1rem;
}
.additional-page-container section form button:hover {
  color: var(--color-black);
  border: solid 1px var(--color-black);
  background-color: var(--color-main);
  transition: 600ms;
}
@media (min-width: 600px) {
  .additional-page-container header {
    padding-top: 10vh;
  }

  .additional-page-container header img {
    width: 200%;
    filter: drop-shadow(1px 1px 10px black);
    position: absolute;
    opacity: 0.1;
    top: 5vh;
    left: 0vh;
  }
  .additional-page-container header h1 {
    font-size: 6rem;
  }
  .additional-page-container section {
    max-width: 800px;
    display: block;
    margin: auto;
  }
  .additional-page-container section h4 {
    font-size: 2.5rem;
  }
  .additional-page-container section h3 {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 30px;
  }
  .additional-page-container section p {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .additional-page-container header {
    padding-top: 10vh;
  }
  .additional-page-container {
  }
  .additional-page-container header img {
    width: 200vw;

    image-resolution: cover;

    filter: drop-shadow(1px 1px 10px black);
    position: absolute;
    opacity: 0.1;
    top: 5vh;
    left: 0vh;
  }
  .additional-page-container header h1 {
    text-align: left;
    padding-left: 400px;
    font-size: 9rem;
  }
  .additional-page-container section {
    max-width: 800px;
    display: block;
    margin: auto;
  }
  .additional-page-container section h4 {
    font-size: 2.5rem;
  }
  .additional-page-container section h3 {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 30px;
  }
  .additional-page-container section p {
    font-size: 2rem;
  }
  .additional-page-container section form input {
    /* font-size: 1.5rem; */
  }
  .additional-page-container section form textarea {
    font-size: 1.5rem;
  }
  .additional-page-container section form button {
    font-size: 1.5rem;
  }
}

/* ##### COOL INPUT ANIMATIONS #### */
form {
  /* margin: 100px; */
}
.input-field {
  position: relative;
  /* width: 250px; */
  height: 44px;
  line-height: 44px;
  margin-bottom: 30px;
}
.input-field input {
  width: 100%;
  background-color: transparent;
}
.input-field > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
  font-size: 1rem;
}
.input-field > input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: var(--color-black);
  font-size: 1rem;
}
.input-field input:invalid {
  outline: 0;
  /* // color: #ff2300; */
  /* //   border-color: #ff2300; */
}
.input-field input:focus,
.input-field input:valid {
  border-color: var(--color-main);
}
.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 1.25rem;
  top: -2rem;
  color: var(--color-main);
}

.input-field textarea {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--color-black);
}
.input-field textarea:focus,
.input-field textarea:valid {
  border: solid 1px;
  border-color: var(--color-main);
  color: var(--color-black);
}
.input-field textarea:focus ~ label,
.input-field textarea:valid ~ label {
  font-size: 1.25rem;
  top: -2.5rem;
  color: var(--color-main);
}
