.additional-page-container {
  width: 100%;
  overflow: hidden !important;
  position: relative;
}
.additional-page-container header img {
  width: 100%;
  filter: drop-shadow(1px 1px 10px black);
  z-index: -1;
}
.additional-page-container header h1 {
  margin-top: 1rem;
  color: var(--color-secondary);
  text-align: center;
  filter: drop-shadow(1px 1px 10px black);
}
.additional-page-container section {
  padding: 20px;
}
.additional-page-container section h4 {
  color: var(--color-black);
  text-align: left;
  padding: 0px 20px;
  filter: drop-shadow(1px 1px 10px black);
}
.additional-page-container section p {
  color: var(--color-black);
  text-align: left;
  padding: 10px 20px;
}
.additional-page-container section h3 {
  color: var(--color-secondary);
  text-align: center;
  filter: drop-shadow(1px 1px 10px black);
  margin-top: 20px;
}
.additional-page-container section form {
  width: 100%;
  padding: 20px;
}

.additional-page-container section form input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 20px;
  color: black;
}
.additional-page-container section form textarea {
  width: 100%;
  color: black;
  padding: 1rem;
}
.additional-page-container section form button {
  width: 100%;
  font-weight: 900;
  color: var(--color-main);
  border: solid 1px var(--color-main);
  background-color: var(--color-black);
  transition: 600ms;
  cursor: pointer;
  padding: 1rem;
}
.additional-page-container section form button:hover {
  color: var(--color-black);
  border: solid 1px var(--color-black);
  background-color: var(--color-main);
  transition: 600ms;
}
@media (min-width: 600px) {
  .additional-page-container header {
    padding-top: 10vh;
  }

  .additional-page-container header img {
    width: 200%;
    filter: drop-shadow(1px 1px 10px black);
    position: absolute;
    opacity: 0.1;
    top: 5vh;
    left: 0vh;
  }
  .additional-page-container header h1 {
    font-size: 6rem;
  }
  .additional-page-container section {
    max-width: 800px;
    display: block;
    margin: auto;
  }
  .additional-page-container section h4 {
    font-size: 2.5rem;
  }
  .additional-page-container section h3 {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 30px;
  }
  .additional-page-container section p {
    font-size: 2rem;
  }
  .additional-page-container section form input {
    /* padding: 1rem; */
  }
  .additional-page-container section form textarea {
    /* padding: 1rem; */
  }
  .additional-page-container section form button {
    /* padding: 1rem; */
  }
}
@media (min-width: 1200px) {
  .additional-page-container header {
    padding-top: 10vh;
  }
  .additional-page-container {
  }
  .additional-page-container header img {
    width: 200vw;

    image-resolution: cover;

    filter: drop-shadow(1px 1px 10px black);
    position: absolute;
    opacity: 0.1;
    top: 5vh;
    left: 0vh;
  }
  .additional-page-container header h1 {
    text-align: left;
    padding-left: 400px;
    font-size: 9rem;
  }
  .additional-page-container section {
    max-width: 800px;
    display: block;
    margin: auto;
  }
  .additional-page-container section h4 {
    font-size: 2.5rem;
  }
  .additional-page-container section h3 {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 30px;
  }
  .additional-page-container section p {
    font-size: 2rem;
  }
  .additional-page-container section form input {
    font-size: 1.5rem;
  }
  .additional-page-container section form textarea {
    font-size: 1.5rem;
  }
  .additional-page-container section form button {
    font-size: 1.5rem;
  }
}
