.main-landing-navigation {
  /* background-color: red; */
}
.open-side-nav-button {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
  z-index: 500;
  background-color: transparent;
  color: var(--color-black);
  outline: none;
  border: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 5px black);
  transition: 1500ms;
}
.open-side-nav-button:hover {
  transition: 3000ms;
  transform: rotate(270deg);
}
.close-side-nav-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 2.5rem;
  background-color: transparent;
  color: var(--color-black);
  outline: none;
  border: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 5px black);
  transition: 1500ms;
}
.close-side-nav-button:hover {
  transition: 3000ms;

  transform: rotate(360deg);
}
.main-landing-navigation aside {
  transform: translateX(-100%);
  background-color: var(--color-main);
  height: 100vh;
  width: 100%;
  transition: 1000ms;
  /* display: none; */
  height: 0;
}
.main-landing-navigation aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-bottom: 150px;
}
.main-landing-navigation aside ul li a {
  font-size: 3rem;
  color: var(--color-dark);
  cursor: pointer;
  transition: 600ms;
  display: flex;
  align-items: center;
  text-decoration: none;
  filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.3));
}

.main-landing-navigation aside ul li a:hover {
  color: var(--color-black);
  transition: 300ms;
}
.main-landing-navigation aside ul li i {
  font-size: 3rem;
  color: var(--color-dark);
  cursor: pointer;
  transition: 600ms;
  text-decoration: none;
  margin-right: 5px;
}
.main-landing-navigation aside ul li i:hover {
  font-size: 3rem;
  color: var(--color-black);
  transition: 300ms;
}
#main-landing-div {
  transition: 1000ms;
}

@media (min-width: 600px) {
  .open-side-nav-button {
    right: 50px;
    font-size: 5rem;
  }
  .close-side-nav-button {
    right: 50px;
    font-size: 5rem;
  }
}
