.text-animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-white);
  min-width: 310px;
}

.text-animation-container h1 {
  font-weight: 300;
  font-family: var(--main-font-family);
  color: var(--color-main);
  filter: drop-shadow(1px 1px 1px black);
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.text-animation-container span .company-name {
  font-weight: 500;
  font-size: 5rem;
  color: var(--color-main);
  font-family: var(--main-font-family);
}

/* Cursor */
.txt-type > .txt {
  border-right: 2px solid var(--color-black);
  color: var(--color-main);
  font-family: var(--main-font-family);
}

@media (min-width: 600px) {
  .text-animation-container {
    height: 175px;
  }
  .text-animation-container span .company-name {
    font-size: 4.5rem;
  }
  .text-animation-container h1 {
    font-size: 3.5rem;
    text-align: none;
    width: auto;
  }
  .text-animation-container h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 800px) {
  .text-animation-container {
    height: 200px;
    min-width: 800px;
  }
  .text-animation-container span .company-name {
    font-size: 6rem;
  }

  .text-animation-container h1 {
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .text-animation-container {
    height: 250px;
  }
  .text-animation-container span .company-name {
    font-size: 8rem;
  }
  .text-animation-container .title {
    font-size: 4.5rem;
  }
  .text-animation-container h3 {
    font-size: 3rem;
  }
}
