.text-animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 150px;
  background-color: var(--color-white);
  margin-top: 50px;
  min-width: 280px;
}

.text-animation-container h1 {
  font-weight: 300;
  /* font-family: "Teko", sans-serif; */
  color: var(--color-main);
  filter: drop-shadow(1px 1px 1px black);
  font-size: 2.25rem;
}
.text-animation-container div {
  transition: 2000ms;
}
.text-animation-container h3 {
  font-weight: 800;
  font-family: var(--font-family);
  color: var(--color-secondary);
  opacity: 0.8;
  filter: drop-shadow(1px 1px 10px black);
  font-size: 1.5rem;
  z-index: 1000;
}
.text-animation-container span .company-name {
  font-weight: 300;
  font-size: 1.75rem;
  color: var(--color-main);
}

/* Cursor */
.txt-type > .txt {
  border-right: 2px solid black;
  color: var(--color-main);
  font-family: var(--font-family);
}

@media (min-width: 600px) {
  .text-animation-container {
    height: 175px;
  }
  .text-animation-container span .company-name {
    font-size: 2.5rem;
  }
  .text-animation-container h1 {
    font-size: 3.5rem;
  }
  .text-animation-container h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 800px) {
  .text-animation-container {
    height: 200px;
    min-width: 800px;
  }
  .text-animation-container span .company-name {
    font-size: 3rem;
  }

  .text-animation-container h1 {
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .text-animation-container {
    height: 250px;
  }
  .text-animation-container span .company-name {
    font-size: 4rem;
  }
  .text-animation-container .title {
    font-size: 5.5rem;
  }
  .text-animation-container h3 {
    font-size: 3.5rem;
  }
}
