.text-animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-white);
  min-width: 310px;
}

.text-animation-container h1 {
  font-weight: 300;
  font-family: var(--main-font-family);
  color: var(--color-main);
  filter: drop-shadow(1px 1px 1px black);
  font-size: 2.25rem;
}
.text-animation-container div {
  /* transition: 2000ms; */
}
.text-animation-container h3 {
  font-weight: 300;
  color: var(--color-black);
  filter: drop-shadow(1px 1px 5px black);
  font-size: 1.25rem;
  z-index: 1000;
  font-family: "Gill Sans", sans-serif;
  opacity: 0.3;
}
.text-animation-container span .company-name {
  font-weight: 500;
  font-size: 4rem;
  color: var(--color-main);
  filter: drop-shadow(1px 1px 3px black);
}

/* Cursor */
.txt-type > .txt {
  border-right: 2px solid black;
  color: var(--color-main);
  font-family: var(--secondary-font-family);
}

@media (min-width: 600px) {
  .text-animation-container {
    height: 175px;
  }
  .text-animation-container span .company-name {
    font-size: 4.5rem;
  }
  .text-animation-container h1 {
    font-size: 3.5rem;
  }
  .text-animation-container h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 800px) {
  .text-animation-container {
    height: 200px;
    min-width: 800px;
  }
  .text-animation-container span .company-name {
    font-size: 6rem;
  }

  .text-animation-container h1 {
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .text-animation-container {
    height: 250px;
  }
  .text-animation-container span .company-name {
    font-size: 8rem;
  }
  .text-animation-container .title {
    font-size: 5.5rem;
  }
  .text-animation-container h3 {
    font-size: 3rem;
  }
}
